body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  background-color: #eeeeee;
  color: #000000;
  margin: 0px 0px 0px 0px;	
}

footer{
  background-color: #000;
  bottom: 0;
  color: #fff;
  width: 100%;
  position: relative;
  padding: 2px 0px 2px 0px;
  top: 52px
}

footer p{
  display: inline;
  vertical-align: middle;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

.btn{
  border: 1px solid #121212;
  border-radius: 10%;
  color: #ffffff;
  min-height: 2em;
  vertical-align: middle;
  
}

.btn-success{
  background-color: #22bb22;
}

.btn-close{
  background-color: #ee0000;
}

.btn-icon{
  max-height: 1em;
}

.div-map{
  width: 100%;
  height: 600px;
	background-color: #aaaaaa;
	display: none;
}

.div-map.is-active{
	display: block;
}

.icon{
  height: 2rem;
  width: 2rem;
}

.navbar {
  overflow: hidden;
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar a {
  float: left;
  display: block;
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar a.is-disable{
  display: none;
}

.navbar-end{
  cursor: pointer;
}

.navbar img{
	max-height: 1.5em;
	vertical-align: middle;
}

.navbar-menu{
  max-height: calc(100vh - 3.25rem);
  overflow: auto;
  float: right;
}

@media screen and (max-width: 700px) {
  .navbar-burger {
    color: #fff;
    cursor: pointer;
    display: block;
    position: relative;
    height: 3.25rem;
    width: 3.25rem;
    margin-left: auto;
  }

  .navbar-burger span{
    display: block;
    height: 1px;
    width: 16px;
    left: calc(50% - 8px);
    position: absolute;
    background-color: currentColor;
    transform-origin: center;
    transition-duration: 85ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
  }

  .navbar-burger span:nth-child(1){
    top: calc(50% - 6px);
  }

  .navbar-burger span:nth-child(2){
    top: calc(50% - 1px);
  }

  .navbar-burger span:nth-child(3){
    top: calc(50% + 4px);
  }

  .navbar-burger.is-active span:nth-child(1){
    transform: translateY(5px) rotate(45deg);
  }

  .navbar-burger.is-active span:nth-child(2){
    opacity: 0;
  }

  .navbar-burger.is-active span:nth-child(3){
    transform: translateY(-5px) rotate(-45deg);
  }
  
  .navbar-menu{
	  display: none;
  }

  .navbar-menu.is-active{
    display: block;
  }
}

.popup{
  display: none;
  background-color: #aaaaaa;
  border: 1px solid #000000;
  padding: 2px 2px 2px 2px;
  position: absolute;
  z-index: 500;
  min-height: 400px;
}

.popup.is-active{
   display: block;
}

.table-list{
  display: none;
}

.table-list.is-active{
  height: 80vh;
  width: 100%;
  display: block;
}

.text-center{
  text-align: center;
}

#main{
  position: relative;
  top: 52px;
}

#map{
  height: 500px;
  width: 90%;
  position: relative;
  left: 4%;
  top: 1%;
}

#hide-map{
  position: relative;
  left: 2.5px;
  top: 2.5px;
  z-index: 505;
}

@media screen and (max-height: 600px) {
  #map{
    height: 400px;
  }
}

#gridTab{
  padding-top: 2%;
}

#optionsPopup{
  width: 33%;
  height: 400px;
  left: 33%;
  top: 50px;
}

#optionsPopup .buttons{
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}